* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}



body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;

}

main{
	padding: 20px;
}

/* Table styles */
table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table header styles */
thead {
	background-color: #f44336;
	color: #fff;
}

th {

	padding: 15px;

}

/* Table body styles */
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #ddd;
}




td {
	/*height: 200px;*/
	text-align: center;
	width: 100px;
	padding: 15px;

}


header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

input {
	border: 1px solid rgba(167, 167, 167, 0.411);
	padding: 10px;
	height: 37px;
	font-size: 16px;
}

input:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
	outline: #f44336 solid 1px;
}


main button {
	width: 30px;
	height: 37px;
}






.player-card {

	width: 200px;

}




#builderPageBtn{
width: 200px;

}





#formation{
	height: 100vh;
	display: none;
	flex-direction: row;
}



#allChosenCards{
	flex-wrap: wrap;
	justify-content: space-around;
	display: flex;
	margin: 0 auto;
	background-color: red;
	width: 90%;
	height:30%;
}

#allChosenCards *{
	/*height: 100px;*/
	background-color: aqua;
	border: 1px solid black;
	flex: 1 1 200px;
}



#renderFormation{
	margin: 0 auto;
	background-color: #575757;
	width: 80%;
	height: 60%;
}















@media screen and (max-width: 750px) {

	header {
		flex-direction: column;
		text-align: center;

	}

	header * {
		flex: 1;
	}

		#builderPageBtn {
			margin: 0 auto;
			font-size: 16px;
		}

	tr{
		font-size: 11px;
	}

	td{
		font-size: 10px;
			text-align: center;
				width: 50px;
				padding: 2px;
		
	}













	.player-card {

		width: 75px;

	}

}